# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor build output
www/

# iOS / Xcode
**/build/
**/DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Xcode user data
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# CocoaPods
ios/Pods/
**/Podfile.lock

# SwiftPM
**/.swiftpm/
**/Package.resolved

# macOS
.DS_Store

# Logs
*.log

# Env
.env.local
.env
